<!DOCTYPE html>
<html>
<head>
    <title>Warframe App</title>
</head>

<header>
    <h1>Warframe App</h1>
    <a href="http://bestgio-445-project.herokuapp.com/">Home</a>
    <a href="http://bestgio-445-project.herokuapp.com/warframe">Warframe</a> 
    <a href="http://bestgio-445-project.herokuapp.com/weapon">Weapon</a> 
    <a href="http://bestgio-445-project.herokuapp.com/archwing">Archwing</a> 
    <a href="http://bestgio-445-project.herokuapp.com/companion">Companion</a> 
    <a href="http://bestgio-445-project.herokuapp.com/relic">Relic</a> 
</header>

<body>
    <form action="http://bestgio-445-project.herokuapp.com/search" method="POST">
        Search: <input type="text" name="search" placeholder="Search Here bitch"><br>
        <input type="submit" value="nutt">
    </form>

    <h3><%- name %></h3>

    <h4>Mission</h4>
    <p><%- mission %></p>

    <h4>Tier</h4>
    <p><%- tier %></p>

    <h4>Rotation</h4>
    <p><%- rotation %></p>
    
    <h4>Chance</h4>
    <p><%- chance %>%</p>
</body>

</html>