<!DOCTYPE html>
<html>
<head>
    <title>Warframe App</title>
</head>

<header>
    <h1 align="center">Warframe App</h1>
    <div align="center">
        <a href="http://bestgio-445-project.herokuapp.com/">Home</a>
        <a href="http://bestgio-445-project.herokuapp.com/warframe">Warframe</a> 
        <a href="http://bestgio-445-project.herokuapp.com/weapon">Weapon</a> 
        <a href="http://bestgio-445-project.herokuapp.com/archwing">Archwing</a> 
        <a href="http://bestgio-445-project.herokuapp.com/companion">Companion</a> 
        <a href="http://bestgio-445-project.herokuapp.com/relic">Relic</a> 
    </div>
</header>

<body style="background-color: 	rgb(175,238,238);">
    <div align="center">
    <br>
    <form action="http://bestgio-445-project.herokuapp.com/search" method="POST">
        <input style="width:500px"type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
    </form>
</div>
    <h3><%- name %></h3>
    <hr>

    <h4>Mission</h4>
    <p><%- mission %></p>
    <hr>

    <h4>Tier</h4>
    <p><%- tier %></p>
    <hr>

    <h4>Rotation</h4>
    <p><%- rotation %></p>
    <hr>
    
    <h4>Chance</h4>
    <p><%- chance %>%</p>

</body>

</html>