<!DOCTYPE html>
<html>
<head>
    <title>Warframe App</title>
</head>

<header>
    <h1 align="center">Warframe App</h1>
    <div align="center">
        <a href="http://bestgio-445-project.herokuapp.com/">Home</a>
        <a href="http://bestgio-445-project.herokuapp.com/warframe">Warframe</a> 
        <a href="http://bestgio-445-project.herokuapp.com/weapon">Weapon</a> 
        <a href="http://bestgio-445-project.herokuapp.com/archwing">Archwing</a> 
        <a href="http://bestgio-445-project.herokuapp.com/companion">Companion</a> 
        <a href="http://bestgio-445-project.herokuapp.com/relic">Relic</a> 
    </div>
</header>

<body>
    <div align="center">
    <br>
    <form action="http://bestgio-445-project.herokuapp.com/search" method="POST">
        <input style="width:400px"type="text" name="search" placeholder="Search Here bitch">
        <input type="submit" value="nutt">
    </form>
    </div>
    <h3>Showing results for "<%- search %>"</h3>

    <p><%- result %></p>
    

</body>

</html>